<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eureka | Contact</title>
    <%- include("./partials/siteWideStyles") %>
    <link rel="stylesheet" href="/styles/contact.css" />
  </head>
  <body>
    <div class="background p-4 min-vh-100">
      <article class="container px-0">
        <%- include("./partials/errorList", { errors: locals.errors }) %>
      </article>

      <div class="tablet container rounded bg-white position-relative p-0">
        <header
          class="w-100 bg-light rounded-top d-flex justify-content-between align-items-center p-2"
        >
          <h6 class="text-dark-emphasis fw-bold m-0">New message</h6>
          <nav>
            <a href="/">
              <i class="bi bi-x-square text-danger-emphasis"></i>
            </a>
          </nav>
        </header>

        <main>
          <form method="post" class="p-3">
            <h6 class="w-100 border-bottom pb-2 mb-2">
              To
              <span class="badge rounded-pill bg-secondary"
                >the person who posted</span
              >
            </h6>
            <% if(!locals.previous) { %>
            <input
              type="text"
              name="subject"
              id="subject"
              value="Inquiry about the <%= item.name %> that you <%= item.isLost? 'lost' : 'found' %><%= item.locationName? ` at ${item.locationName}` : '' %>"
              class="clear-default-focus double-underline-when-focused d-block w-100 border-0 border-bottom mb-2"
            />
            <% } else { %>
            <input
              type="text"
              name="subject"
              id="subject"
              value="<%= locals.previous.subject %>"
              class="clear-default-focus double-underline-when-focused d-block w-100 border-0 border-bottom mb-2"
            />
            <% } %>
            <textarea
              name="message"
              id="message"
              class="clear-default-focus w-100 border-0 mb-2"
              placeholder="You can type here"
            >
<%= locals.previous?.message %></textarea
            >
            <div class="d-flex align-items-center">
              <button
                type="submit"
                class="btn btn-primary fw-bold rounded-5 me-2"
              >
                Send
              </button>
              <small class="text-secondary">
                Note: please specify in your message a way this person can
                respond to you (e.g. by telling them your email address).
              </small>
            </div>
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
