<% const word = item.isLost ? "Lost" : "Found"; %>
<li>
  <h2>
    <%= word %><%= item.locationName ? ` at ${item.locationName}` : "" %>: <%=
    item.name %>
  </h2>
  <p><%= item.description %></p>
  <p>
    <a
      href="
      mailto:<%= item.emailOfPersonWhoPosted %>
      ?subject=<%= encodeURIComponent(`Inquiry about the ${item.name} that you ${word.toLocaleLowerCase()}`) %>"
    >
      Contact person who posted
    </a>
  </p>
  <p>
    <a href="/updatePost/<%= item.pk %>">Update post</a>
  </p>
</li>
