<li>
  <h2>
    <% const word = item.isLost ? "Lost" : "Found"; %> <%= word %> in <%=
    item.locationName %>: <%= item.name %>
  </h2>
  <p><%= item.description %></p>
  <a
    href="
    mailto:<%= item.emailOfPersonWhoPosted %>
    ?subject=<%= encodeURIComponent(`Inquiry about the ${item.name} that you ${word.toLocaleLowerCase()}`) %>"
  >
    Contact
  </a>
</li>
