<% const word = item.isLost ? "Lost" : "Found"; %>
<li>
  <h2>
    <%= word %><%= item.locationName ? ` at ${item.locationName}` : "" %>: <%=
    item.name %>
  </h2>
  <p><%= item.description %></p>
  <a
    href="
    mailto:<%= item.emailOfPersonWhoPosted %>
    ?subject=<%= encodeURIComponent(`Inquiry about the ${item.name} that you ${word.toLocaleLowerCase()}`) %>"
  >
    Contact
  </a>
  <form action="/updateItem/<%= item.pk %>" method="post">
    <button type="submit">Update</button>
  </form>
</li>
