<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eureka | Update Post</title>
    <%- include("./partials/siteWideStyles") %>
    <link rel="stylesheet" href="/styles/formPage.css" />
  </head>

  <body>
    <div class="background p-4 min-vh-100">
      <div class="tablet container rounded p-4">
        <nav>
          <a href="/"><i class="bi bi-house-fill"></i>Home</a>
        </nav>

        <header>
          <h1>Update <%= locals.item?.name || locals.previous?.name %> Post</h1>
        </header>

        <main>
          <% if(!(locals.errors && locals.previous)) { %>
          <form id="authForm" class="d-flex align-items-center mb-2">
            <p id="wrongPassword"></p>
            <label for="password">Password for this post:</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control w-auto mx-1"
            />
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
          <%- include("./partials/postCreationForm", { previous: item }) %>
          <script type="module">
            import { setUpAuthForm } from "/scripts/updatePost.js";
            setUpAuthForm("<%= item.pk %>");
          </script>
          <% } else { %> <%- include("./partials/postCreationForm", { previous,
          errors }) %> <% } %>
        </main>
      </div>
    </div>
  </body>
</html>
